@import url("https://fonts.googleapis.com/css?family=Lato");
* {
    box-sizing: border-box;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

body {
    background-color: #52b3d9;
    color: #fafafa;
    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

p {
    max-width: 300px;
    margin: 0 auto 30px;
}

h1 {
    font-size: 2.5rem;
}

textarea {
    height: 150px;
}

.demo-input {
    margin: 10px auto;
}

.use-cases {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.use-cases .use-case {
    margin: 0 15px;
}

.custom-suggestions {
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom-suggestions--active {
    background-color: #19b5fe;
}

.custom-suggestions li {
    text-align: left;
}

.custom-suggestions li:hover {
    background-color: #19b5fe;
}

.input {
    border: 0;
    border-radius: 4px;
    color: #111;
    font-size: 16px;
    line-height: 16px;
    outline: 0;
    padding: 10px 12px;
    position: relative;
    text-align: left;
    width: 230px;
}

.input::-webkit-input-placeholder {
    color: #cfcfcf;
    text-align: center;
}

.input:-ms-input-placeholder {
    color: #cfcfcf;
    text-align: center;
}

.input::-ms-input-placeholder {
    color: #cfcfcf;
    text-align: center;
}

.input::placeholder {
    color: #cfcfcf;
    text-align: center;
}

.input__marker {
    background-color: #111;
    border-radius: 4px;
    box-shadow: 0 2px 5px #585858;
    display: block;
    font-size: 12px;
    padding: 4px 6px;
    position: absolute;
    -webkit-transform: translate(5%, -70%);
    transform: translate(5%, -70%);
    transition: top 0.1s ease 0s, left 0.1s ease 0s;
    white-space: nowrap;
    width: auto;
    z-index: 9999;
}

.input__marker:after {
    background-color: #111;
    content: '';
    height: 10px;
    position: absolute;
    width: 15px;
    z-index: -1;
}

.input__marker--position:after {
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-10%, 10%) rotate(-15deg) skewX(-40deg);
    transform: translate(-10%, 10%) rotate(-15deg) skewX(-40deg);
}

.input__marker--selection {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}

.input__marker--selection:after {
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0) rotate(45deg);
    transform: translate(-50%, 0) rotate(45deg);
}

.input__marker--custom {
    -webkit-transform: translate(16px, 16px);
    transform: translate(16px, 16px);
}

.input__marker--custom:after {
    display: none;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}