#recommendation {
    border: solid 1px #5faadb;
    background: rgb(229, 249, 252);
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
}

#controlblock {
    text-align: center;
    /* background-color: rgb(188, 235, 207); */
    width: 100%;
    height: 15vh;
}

#inputblock {
    text-align: center;
    /* background-color: rgb(188, 218, 235); */
    width: 100%;
    height: 10vh;
}

#previewblock {
    /* background-color: rgb(208, 188, 235); */
    float: right;
    width: 64%;
    height: 70vh;
}

#historyblock {
    /* background-color: rgb(235, 188, 194); */
    overflow: scroll;
    float: left;
    width: 34%;
    height: 70vh;
    border-style: solid;
    border-color: rgb(151, 170, 179);
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

@media screen and (max-width: 600px) {
    #previewblock, #historyblock {
        width: 100%;
        height: 35vh;
    }
}

@media screen {
    #preview {
        width: 100%;
        height: 100%;
    }
}